node_modules
tmp
config/*
!config/README.md
!config/*-example.json
test.js
*-.js
*-.json
site/*
data/*
faq/*.json
# For Visual Studio's temp directory
.vs/
.forever/
faq/*
package-lock.json
config/snowflakes.json
package-lock.json
Judgement/*
!Judgement/JudgementRequest*
avatar/*
dist/config/config.js
.gitignore
src/config/config.ts
prisma/.env
